<div class="card shadow-lg">
    <div>
        <img class="img-fluid w-100" src="<%=product.imgUrl%>" alt="<%=product.title%>">
    </div>
    <div>
        <span><b><%=product.title%></b></span>

    </div>
    <div><span>Price :<i class="fas fa-rupee-sign" style="font-size:10px"></i> <%= product.price%></span></div>

    <% if(isAdmin){ %>

    <form method="POST" action="/admin/getEditForm/<%=product._id%>" style="display:inline-block">
        <input class="btn btn-primary m-1" type="submit" value="Edit" style="border-radius: 10px;">
    </form>
    <form method="POST" action="/admin/postDeleteProduct/<%=product._id%>" style="display:inline-block">
        <input class="btn btn-primary m-1" type="submit" value="Delete" style="border-radius: 10px;">
    </form>
    <!-- <a class="btn btn-primary m-1" href="/admin/getEditForm/<%=product._id%>">Edit</a>
    <a class="btn btn-primary m-1" href="/admin/getDeleteProduct/<%=product._id%>">Delete</a> -->
    <% }else{ %>
    <!-- /getprod/:prodId -->
    <form method="GET" action="/user/getprod/<%=product._id%>" style="display:inline-block">

        <input class="btn btn-primary m-1" type="submit" value="Detail" style="border-radius: 10px;">
    </form>
    <% if(isAuthenticated){ %>
    <form method="POST" action="/user/addtocart/<%=product._id%>" style="display:inline-block">
        <input class="btn btn-primary m-1" type="submit" value="Add to Cart" style="border-radius: 10px;">
    </form>
    <%}%>
    <%}%>
</div>