<%- include('../include/header.ejs',{pageTitle:pageTitle }) %>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('../include/navbar.ejs',{path:path}) %>
    <%if(message){%>
    <%- include('../include/backdrop.ejs') %>
    <%- include('../include/model.ejs',{message:message})%>
    <%}%>
    <div class="container">
        <div class="row">
            <div
                class="login-form d-flex flex-column justify-content-center offset-1 col-10 col-md-6 p-2 bg-dark offset-sm-1 offset-md-3 shadow-lg">
                <form name="login" action="/login" method="POST">
                    <p class="font-weight-bolder text-light">Login</p>
                    <% if(message){%>
    <div class="email-alert alert-sm alert-danger"><%=message%></div>
    <%}%>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forEmail shadow-lg">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="E-mail" name="email" onkeyup="emailInput(event)">
                        </div>
                        <div class="email-alert alert-sm alert-danger">Enter Valid Email</div>
                    </div>
                    <div class="mt-5 mx-3 mx-md-5">
                        <div class="forPass shadow-lg">
                            <i class="fas fa-key"></i>
                            <input type="password" name="password" placeholder="Password" onkeyup="passInput(event)">
                        </div>
                        <div class="pass-alert alert-sm alert-danger">Enter Valid Password</div>
                        <div class="text-light"> * Password must contain atleast One Uppercase,One lowercase,One special
                            character,One number and minimum 8</div>
                    </div>
                    <div class="submit-btn my-5 mx-3 mx-md-5">
                        <input type="submit" class="submit-btn btn w-100 btn-primary px-5 badge-pill" name="submit"
                            value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script>
        typeIt("Login", output, 200);
        const emailPattern = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/i;
        const passwordPattern = /^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$/;
        let emailAlert = document.querySelector('.email-alert');
        let passAlert = document.querySelector('.pass-alert');
        let emailBox = document.querySelector('.forEmail');
        let passwordBox = document.querySelector('.forPass');
        let email= document.querySelector('.forEmail input');
        let password= document.querySelector('.forPass input');
        // let submitButton = document.querySelector('.submit-btn');
        let isValid = false;
        let isEmail = false;
        let isPassword = false;
        document.login.submit.disabled = true;



        // emailInput = (e) => {
        //     showALert(emailBox,emailAlert);

        //     // emailAlert.style.display = "block";
        //     // document.login.submit.disabled = true;
        //     // emailBox.style.border = "1px solid red";
        //     isEmail = emailPattern.test(e.target.value);
        //     // if (isEmail) {
        //     //     emailBox.style.border = "none";
        //     //     emailAlert.style.display = "none";
        //         hideAlert(isEmail, emailBox, emailAlert, e);
        //         // e.target.style.background = "none";
        //     // }
        //     isValid = isEmail && isPassword;
        //     // if (isValid === 'true') {
        //     //     document.login.submit.disabled = false;
        //     // }
        //     validate(isValid);
        // }

        // function passInput(e) {
        //     passAlert.style.display = "block";
        //     passwordBox.style.border = "1px solid red";
        //     document.login.submit.disabled = true;
        //     isPassword = passwordPattern.test(e.target.value);

        //     if (isPassword) {
        //         passwordBox.style.border = "none";
        //         passAlert.style.display = "none";
        //     }

        //     isValid = isEmail && isPassword;
        //     if (isValid) {
        //         document.login.submit.disabled = false;
        //     }
        // }
        emailInput = (e) => {

            showAlert(emailBox, emailAlert, 'login');
            isEmail = emailPattern.test(email.value);
            hideAlert(isEmail, emailBox, emailAlert);
            isValid = isEmail && isPassword;
            validate(isValid, 'login');
        }

        passInput = (e) => {
            showAlert(passwordBox, passAlert, 'login');
            isPassword = passwordPattern.test(password.value);
            hideAlert(isPassword, passwordBox, passAlert);
            isValid = isEmail && isPassword;
            validate(isValid, 'login');
        }
    </script>
    <%- include('../include/footer.ejs') %>