<%- include('../include/header.ejs',{pageTitle:pageTitle})%>
<link rel="stylesheet" href="/css/prod-detail.css">

<body style="text-align:center">
    <%- include('../include/navbar.ejs',{path:path,isAuthenticated:isAuthenticated,isAdmin:isAdmin})%>
    <div class="container">
        <h3><%=product.title %></h3>
        <div><img class="prod-det-img img-fluid w-100 img-thumbnail" src="<%= product.imgUrl %>">
        </div>
        <h3>Price : <i class="fas fa-rupee-sign" style="font-size: 20px"></i> <%= product.price %></h1>
            <div>
                <p><%= product.desc %></p>
            </div>
    </div>
    <script src="/js/main.js"></script>
    <script>
        let output = document.getElementById("output");
        typeIt("<%= product.title %>", output, 100); //(string,targetElement,time(in sec))
    </script>
    <%- include('../include/footer.ejs')%>
</body>